---
---

@import "{{ site.theme }}";

#header_wrap {
  background: #05407c;
  background: -moz-linear-gradient(top, #373737, #05407c);
  background: -webkit-linear-gradient(top, #373737, #05407c);
  background: -ms-linear-gradient(top, #373737, #05407c);
  background: -o-linear-gradient(top, #373737, #05407c);
  background: linear-gradient(to top, #373737, #05407c);
}

#footer_wrap {
  background: #05407c;
}

body {
  background: #05407c;
  font: 14px/21px "Raleway", "HelveticaNeue-Light", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", "HelveticaNeue-Light", Arial, sans-serif;
}

nav {
  width: 230px;
  position: fixed;
  top: 220px;
  left:50%;
  margin-left:-580px;
  text-align: right;

  ul {
    list-style: none;
    list-style-image:none;
    font-size: 14px;
    line-height:24px;

    li {
      padding: 5px 0px;
      line-height: 16px;
      // padding-right:17px;
      // position:relative;
      // right:-12px;

    }

    a {
      color: #666;

      &:hover { color: #999; }
    }

  }
}


@media print, screen and (max-width: 1060px) {

  nav{
    display: none;
  }

}

@media print, screen and (max-width: 720px) {
  nav{
    display: none;
  }
}

@media print, screen and (max-width: 480px) {
  nav{
    display: none;
  }

}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}

@media print, screen and (max-height: 680px) {

  footer {
    text-align: center;
    margin: 20px auto;
    position: relative;
    left:auto;
    bottom:auto;
    width:auto;
  }
}

@media print, screen and (max-height: 480px) {
  nav {
    display: none;
  }

  footer {
    text-align: center;
    margin: 20px auto;
    position: relative;
    left:auto;
    bottom:auto;
    width:auto;
  }
}
